<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Title Page-->
    <title>Sign up</title>
</head>

<body>
    <header class="masthead">
        <div class="container h-100">
            <a class="nav-logo text-center" href="#page-top"><img src="http://startup-templates.s3-website-ap-southeast-1.amazonaws.com/images/logo.png"></a>
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-end">
                    <h1 class="heading-text text-white font-weight-bold">Genese Internal Hackathon</h1>
                    <hr class="divider my-4">
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="head-para text-white font-weight-light">The main aim of this team is to design and develop the frontend part of the Web Product. You will be working with DevOps-Setup and Backend-Django for communication. If the Backend team is not ready with the task, please continue with
                        the next task. However, once the Backend Team completes, please ensure QA tests your current Tasks. Only the code that has been tested will be in the demo.
                    </p>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row py-5 justify-content-center">
            <form class="col-lg-4">
                <h2>Log in</h2>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="first-name">User Name</label>
                        <input type="text" class="form-control" id="f-name">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="first-name">Password</label>
                        <input type="password" class="form-control" id="password">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Log in</button>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>

</html>