form {
    width: 800px;
    margin: auto;
    padding-top: 150px;
}

.btn-primary {
    color: #fff;
    background-color: #135a70;
    border-color: #135a70;
}

.btn-primary:hover {
    background-color: #1c667c;
}